.content {
    grid-area: c;
    display: grid;
    grid-template-areas:
    "l l l l l l"
    "p d d d d d"
    "a a a a a a";
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: 8em auto 1fr;
}

.landscape {
    grid-area: l;
    max-height: 8em;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.landscape img {
    width: 100%;
    height:100%;
}

.description {
    grid-area: d;
}

.name {
    font-size: 6em;
    font-family: Rasa, serif;
}

.info {
    font-size: 2em;
    font-family: Rasa, serif;
}

.old {
    font-size: 2em;
    font-family: Rasa, serif;
}

.photo {
    grid-area: p;
    display: grid;
    align-items: center;
    justify-items: center;
}

.photo img {
    width: 10em;
    height: 10em;
    border-radius: 20px;
}


