.header {
    display: grid;
    grid-area: h;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.header img {
    align-self: center;
    justify-self: center;
    width: 2em;
}