.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs .dialogsItems img{
    width: 3em;
    height: 3em;
    padding-right: 5px;
    border-radius: 1em;
}

.dialogs .dialogsItems{
    padding: 1em;
}

.dialogs .dialogsItems .dialog {
    color: red;
}

.dialogs .dialogsItems .active{
    color: blueviolet;
}

.messages {
    padding: 1em;
}

.messages .message {
    border: coral 3px dashed;
    padding: 5px;
    margin: 1em;
}